:root {
  --header-height: 70px;
}

.sidebar-header {
  height: var(--header-height);
  align-items: center;
}

.sidebar-header > button {
  height: fit-content;
}

.main-logo-header {
  width: var(--header-height);
  height: var(--header-height);
}
